<a href="https://colab.research.google.com/github/Jainam66/Data-Science-1-to-70-days-challenge/blob/main/1SPythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome to Data World!")

Welcome to Data World!

In [2]:
"hello"

'hello'

In [3]:
120/12*2-4

16.0

In [4]:
(5-2)*10

30

In [5]:
13//2 # Floor Division gives nearest smallest integer (ans. is 6.5 so nearest smallest no. is 6)
# Ceil gives nearest largest integer. There is no ceil division. We can find ceil and floor of any fraction
# 3 things we can do with a fraction are: round(12.2)=12, floor(12.2)=12, ceil(12.2)=13

6

In [6]:
marks=80
marks

80

In [7]:
type(marks)

int

Boolean Operations

In [8]:
x = True
y = False

In [9]:
x or y

True

In [10]:
x and y

False

In [11]:
not x

False

In [12]:
not y

True

In [13]:
x = 13
y = 5

In [14]:
c1 = x > y
c1

True

In [15]:
c2 = x < y
c2

False

In [16]:
not c1

False

In [17]:
not c2

True

Data Types

In [18]:
type(c1)

bool

In [19]:
price=50.5
price
type(price) # only shows output of last line

float

In [20]:
price=50.5
print(price) # to see intermediate line's output use print() function
type(price)

50.5

float

In [21]:
name="Snehal"
type(name)

str

In [22]:
dir(str) # all methods that can be applied on strings
# __ dunder/magic methods (double underscore methods which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Methods in Python

In [23]:
str1="welcome to Data Science."
str1.capitalize()

'Welcome to data science.'

In [24]:
str1

'welcome to Data Science.'

In [25]:
str1.upper()

'WELCOME TO DATA SCIENCE.'

In [26]:
str1.lower()

'welcome to data science.'

In [27]:
str1.title()

'Welcome To Data Science.'

In [28]:
food="dAta"
name="sCIENCE"
print(food.swapcase())
name.swapcase()

DaTA

'Science'

In [30]:
s1="My name is Data."
print(s1.split()) # list of strings is created
s2="Mumbai-Pune-Mumbai"
s2.split("-")

['My', 'name', 'is', 'Data.']

['Mumbai', 'Pune', 'Mumbai']

In [33]:
mail="Data.com"
mail.split("@")

['Data.com']

In [34]:
s1

'My name is Data.'

In [36]:
s1.replace("Data","BigData")

'My name is BigData.'

In [37]:
s1

'My name is Data.'

In [38]:
# single line comment
'''

multiline comment
'''

'\n\nmultiline comment\n'

In [42]:
city="Worldwide"
city.count("a")

0

In [43]:
name="BigD"
name*4

'BigDBigDBigDBigD'

In [44]:
name="Data"
surname="Big DAta"
name + surname # concatenates without space

'DataBig DAta'

In [46]:
name + " " +surname

'Data Big DAta'

In [ ]:
if--Else

In [47]:
# Conditional Statement
a=630
b=1250
if a>b:
  print("a is greater")
  print("In True block")
  c=a+b
  print(c)
else:
  print('b is greater')
  print("In False block")
  c=a*b
  print(c)

b is greater
In False block
787500

In [48]:
a=1200
b=1300
if(a>b):
  print(a,"is greater")
else:
  print("Greatest number is:",b)

Greatest number is: 1300

In [49]:
salary=15000
if (salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("Hello from false if / else")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print("Net Salary=",net_sal)
# change value of salary as 15000 and execute again

Hello from false if / else
Bye... outside of if block
Net Salary= 12000.0

In [50]:
range(5,10)

range(5, 10)

Loops

In [52]:
# For Loop
for i in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(i)
print("Bye")

5
6
7
8
9
Bye

In [53]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [55]:
# print odd numbers from 1 to 10
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [56]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [57]:
# Q1. print all even numbers from 1 to 20
# Q2. print all odd numbers from 1 to 20

In [58]:
# 'break' statement terminates the loop when condition is satisfied
for i in range(1,11):
  if i==5:
    print("Same")
    break
  else:
    print(i)

1
2
3
4
Same

In [59]:
for num in range(11): # 0 to 10
  print(num, num*num) # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [60]:
# range(start,stop,step)
for i in range(1,31,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [61]:
subject="Science"
for i in subject:
  print(i)

S
c
i
e
n
c
e

In [63]:
# print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line. Range(3,7)
'''
name="Jainam"
for i in range(3,7):
  x=(name + " ")*i
  print(x)
'''
name="Jainam"
for i in range(3,7):
  print(name*i)

JainamJainamJainam
JainamJainamJainamJainam
JainamJainamJainamJainamJainam
JainamJainamJainamJainamJainamJainam

In [64]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" ") #try upper(), lower(),"-","#",etc. Default end parameter is 'new line'

d R I S H Y A M

In [65]:
# Print all even and odd numbers between given range using For Loop
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [66]:
# Print all even and odd numbers between given range using For Loop
print('Even Numbers:')
for i in range(1, 11):
  if i % 2 == 0:
    print(i, end=" ")

print(" ") # new line
print('Odd Numbers:')
for i in range(1,11):
  if i%2!=0: # != not equal to
    print(i, end=" ")

Even Numbers:
2 4 6 8 10
Odd Numbers:
1 3 5 7 9

In [67]:
status1=True
type(status1)

bool

In [68]:
status2=False
type(status2)

bool

In [69]:
# print each letter 4 times with separator as space
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [70]:
len("My name")

7

In [72]:
len("Snehal")

6

In [73]:
# Data Structure: 1.LIST
# Lists are mutable.
# created using square brackets []
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [74]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [75]:
len(marks)

7

In [76]:
type(marks)

list

In [77]:
new_marks=sorted(marks) # creates new sorted list. Original marks list remains unchanged
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [78]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [79]:
marks.sort() # original list is sorted in ascending order by default

In [80]:
marks

[40, 55, 60, 70, 78, 80, 85]

Append

In [81]:
marks.append(35) # Append will add element in the last only.
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [82]:
marks.reverse()

In [83]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [84]:
marks2=[42,64,50,78,87,80]

In [85]:
marks2.sort(reverse=True) # sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [86]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False) # by default it sorts in ascending order. No need to write 'reverse=False'

In [87]:
marks3

[40, 50, 60, 70, 80, 85]

In [88]:
marks3.insert(3,89) # insert 89 at 3rd index

In [90]:
marks3

[40, 50, 60, 89, 70, 80, 85]

In [91]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [92]:
90 in marks # checks whether 90 is present in list or not. IF yes returns True, else False

False

In [93]:
85 in marks

True

Concatenation of 2 String

In [98]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2 # concatenation or merging of two lists

[10, 20, 30, 40, 50, 60]

In [99]:
(list1+list2)*3 # repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [100]:
stationary=['pen','pencil','sharpner']
stationary

['pen', 'pencil', 'sharpner']

In [101]:
len(stationary)

3

In [102]:
stationary.append(['notebook','book']) # only 1 list element will be added
stationary

['pen', 'pencil', 'sharpner', ['notebook', 'book']]

In [103]:
len(stationary)

4

POP

In [104]:
stationary.pop(1) # index 1 element will be removed from list

'pencil'

In [105]:
stationary

['pen', 'sharpner', ['notebook', 'book']]

In [106]:
stationary.append(['pencil']) # only 1 list element will be added
stationary

['pen', 'sharpner', ['notebook', 'book'], ['pencil']]

In [107]:
stationary.pop() #if index no. is not mentioned pop() removes the last element
stationary

['pen', 'sharpner', ['notebook', 'book']]

In [108]:
# to add multiple items use extend()
stationary.extend(['writing_pad','textbook','eraser'])

In [109]:
stationary

['pen', 'sharpner', ['notebook', 'book'], 'writing_pad', 'textbook', 'eraser']

In [ ]:
stationary.remove('eraser') # will remove mentioned element name from list
stationary

['pen', 'sharpner', ['notebook', 'book'], 'writing_pad', 'textbook']

In [ ]:
len(stationary)

5

In [ ]:
stationary.index('writing_pad')

3

In [ ]:
'''
if condition:
  -- things to do when condition is true
else:
  -- things to do when condition is false
'''
# elif - multiple conditions

num = -5 # try 0, 5
if num > 0:
  print("Positive")
elif num < 0:
  print("Negative")
else:
  print("It's Zero")

Negative

**Get input from user and find grades**

In [ ]:
name = input("Enter your name: ")

Enter your name: Neha

In [ ]:
name

'Neha'

In [ ]:
marks = input("Enter Marks: ")

Enter Marks: 95

In [ ]:
marks

'95'

In [ ]:
marks + 10 # guess the output

TypeError: ignored

In [ ]:
# output is coming in quotation i.e. it is treated as string. You have to convert it to number.
# instead of doing it in 2 steps, while accepting input only we can convert it to integer.
age = int(input("Enter age: "))

Enter age: 21

In [ ]:
age + 5

26

In [110]:
# accept a number from user, if it is divisible by 7 display "You win" else display "Sorry, try again"
num = int(input("Enter a number: "))
print(num)
if num % 7 == 0:
  print("You win")
else:
  print("Sorry, try again")

Enter a number: 55
55
Sorry, try again

In [111]:
# accept marks, if marks>=80 print "Distinction", if between 60-80 print "First class",
# if between 40-60 print "Pass", if less than 40 print"Fail"
marks = int(input("Enter your marks: "))
if marks >= 80:
  print("Distinction")
elif marks >= 60:
  print("First Class")
elif marks >= 40:
  print("Pass")
else:
  print("Fail")

Enter your marks: 55
Pass

**For Loop**

In [112]:
mrklist = [34,55,77,95,20]
for marks in mrklist:
  if marks >= 80:
    print(marks, "-->","Distinction")
  elif marks >= 60:
    print(marks, "-->","First Class")
  elif marks >= 40:
    print(marks, "-->","Pass")
  else:
    print(marks, "-->","Fail")

34 --> Fail
55 --> Pass
77 --> First Class
95 --> Distinction
20 --> Fail

**While loop**

In [113]:
# While loop: Print Hello for 5 times
cnt = 0
while cnt < 5:
  print("Hello")
  cnt = cnt + 1

Hello
Hello
Hello
Hello
Hello

**Write user defined function**

In [114]:
# Write a square function

# Function Definition
def square(x):
  return x * x # or retrurn x**2

In [115]:
# write a function calc_grade(marks)
def calc_grade(marks):
    if marks >= 80:
      grade = "Distinction"
    elif marks >= 60:
      grade = "First Class"
    elif marks >= 40:
      grade = "Pass"
    else:
      grade = "Fail"
    return grade # it should be aligned with if

In [116]:
# Call the function
calc_grade(10)

'Fail'

In [117]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [118]:
# Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  #print(fruit.upper()) # in sigle line: print(fruit.upper(),end=" ")
  print(fruit.upper(),end=",")
  #print(fruit.replace("u","a"), end=" ")

MANGO,APPLE,BANANA,PINEAPPLE,CUSTARD APPLE,STRAWBERRY,

In [119]:
# In Python Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [120]:
list3[3]

'Pineapple'

In [121]:
list3.count("Banana")

1

In [122]:
list3[6] # raise error as index is upto 5 only (0 to 5)

IndexError: list index out of range

In [123]:
list3[5]

'Strawberry'

Slicing

In [129]:

list3[0:4] # 0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [128]:
# from Apple to Strawberry i.e. till end
list3[1:]# or list3[1:6]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [127]:
# from beginning to Pinaapple
list3[:4] # or  list3[0:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [126]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [125]:
# Negative indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [ ]:
list3[-3]

'Pineapple'

In [ ]:
list3[-6]

'Mango'

In [130]:
# start stop step in slicing
print(list3)
list3[::2] # 0,2,4

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [134]:
n1=list(range(1,31))
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [135]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [136]:
# print nos from index 2 to 26 with step value of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [137]:
print(list3)

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [138]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [139]:
list3[::-2] # step value is -2

['Strawberry', 'Pineapple', 'Apple']

In [140]:
# use of 'in' keyword: search substring in given word
'the' in 'Netherland'

True

In [141]:
'The' in 'Netherland'

False

In [142]:
'therer' in 'Netherland'

False

In [143]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [144]:
list3.append("Mulberry")

In [145]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
list3.remove("Mulberry") # removes mentioned element

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [146]:
# display fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [147]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [148]:
list3.append("Black berry")

In [149]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [150]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [151]:
# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2) # OR l2.append(i*i)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [152]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
list3
#list3.append("Black berry")

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

List comprehension

In [153]:
# extract fruit names containing substring 'berry' using List comprehension
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Black berry']

In [154]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [155]:
newlist

['Strawberry', 'Mulberry', 'Black berry']

In [156]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]

In [157]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
city=["Pune","Mumbai","Satara","Thane","Solapur","Kolhapur"]

In [ ]:
newlistpur=[i for i in city if "pur" not in i]

In [ ]:
newlistpur

['Pune', 'Mumbai', 'Satara', 'Thane']

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

In [ ]:
list3.index('Strawberry')

5

In [ ]:
list3.index('Black berry')

6

In [ ]:
list3.index('Orange') # will raise error as item is not present in the list

ValueError: 'Orange' is not in list

In [ ]:
print(list3,end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry', 'Black berry']

index 2 item was banana which is replaced by Orange
#Lists_are_mutable
you can replace items of list

In [ ]:

list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Black berry']

Data Structure: 2.TUPLE
# Tuples are not mutable i.e. immutable
created using round brackets ()

In [158]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [159]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1[0]=7 # will raise an error as tuples are immutable

TypeError: ignored

In [160]:
t3=t1 + (6,7,8,9,10)

In [ ]:
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1.count(5)# in bracket we have passed an element of tuple (not the index)

1

In [ ]:
t1.index(4) # in bracket we have passed an element of tuple (not the index)

ValueError: ignored

In [ ]:
t2=(1,1,1,2,2,6,6,6,7,6,6,7)

In [ ]:
t2.index(6)

5

In [ ]:
t2.count(6)

5

In [161]:
# indexing and slicing with tuple is same as list
# extracting elements of tuple
t1[2]

3

In [162]:
t1

(1, 2, 3, 4, 5)

In [163]:
t1[1:5]

(2, 3, 4, 5)

In [164]:
t1[3:]

(4, 5)

Data Structure: 3.Dictionary
# Dictionaries are used to store data values in "key:value pairs".
A dictionary is a collection which is ordered, changeable and do not allow duplicates.
Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values.
Here, keys are unique identifiers that are associated with each value.:

In [4]:
capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [5]:
type(capital_dict)

dict

In [167]:
dir(capital_dict) # or dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [6]:
# access element of dictionary
capital_dict["England"]

'London'

In [7]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [8]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [9]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [10]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [11]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [12]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [13]:
capital_dict.update({"Australia":"Sydney"}) # capital of Australia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [14]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("Australia")

'Sydney'

In [15]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [16]:
capital_dict['abc']="Mumbai"

In [17]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [18]:
capital_dict.popitem() # removes last key:value pair from dictionary

('abc', 'Mumbai')

In [19]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [22]:
# Dictionary Values can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [23]:
mytuple=(20,53,45,78,89,65,97)

In [24]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [25]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [26]:
mydict['C']

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [ ]:
mydict['A'][5] #index 0 1 2 3, 3rd index element = banana

'Black berry'

In [ ]:
mydict['C']['Italy']

'Rome'

In [ ]:
from math import sqrt
sqrt(81)

9.0

In [ ]:
factorial(5)

NameError: ignored

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
sin(90)

In [ ]:
from math import sin,cos,tan

In [ ]:
cos(0)

1.0

In [ ]:
from math import *
listnew=[5,2,3]
prod(listnew) #or prod([10,20,30])

30

In [ ]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2,2,5,6) # iterable where elements are given
print(math.prod(sequence))

In [ ]:
import math
list4=[2,3,4]
math.prod(list4)

In [ ]:
dir(math) # all functions of math library

In [ ]:
import math as mt

In [ ]:
mt.sqrt(36)

6.0